// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rooms";

@font-face{
  font-family: 'tanuki';
  src: font-url('TanukiMagic.ttf') format('truetype');
}

body{
  font-family: 'tanuki';
}
