#messages_index {
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.message{
  padding: 10px; 
}
.note {
  padding: 10px;
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-color: #99ccff;
  cursor: pointer;
  background: linear-gradient(to right, #ffffcc 0%, #F6F6C8 0.5%, #F6F6C8 13%, #ffffcc 16%);
  font-family: 'tanuki';
}
.color-button {
  display: inline-block;
  text-decoration: none;
}
.color-button:active {
  transform: translateY(2px);
}
.del-btn:active {
  transform: translateY(2px);  
}
.text{
  margin-top: 20px;   
}
