// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages_index {
  height: 400px;
  padding: 10px;
  display: flex;
}
.message{
  padding: 10px; 
}
.note {
  padding: 10px;
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-color: #99ccff;
  cursor: pointer;
  background: linear-gradient(to right, #ffffcc 0%, #F6F6C8 0.5%, #F6F6C8 13%, #ffffcc 16%);
}
