#sticky_notes_index {
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sticky_note{
  padding: 20px; 
}
.note {
  padding: 10px;
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-color: #99ccff;
  cursor: pointer;
  background: linear-gradient(to right, #ffffcc 0%, #F6F6C8 0.5%, #F6F6C8 13%, #ffffcc 16%);
  font-family: 'tanuki';
  position: relative;
}
.color-button {
  display: inline-block;
  text-decoration: none;
}
.color-button:active {
  transform: translateY(2px);
}
.del-btn:active {
  transform: translateY(2px);  
}
.text{
  margin-top: 20px;
  margin-right: 20px;
}
.remove-icon{
  position: absolute;
  top: 6%;
  right: 6%;
}
.fa-circle{
  color: black;
  margin: 2px
}
.pink:hover{
  color: #F7B3D7;
}
.yellow:hover{
  color: #ffffcc; 
}
.blue:hover{
  color: #B2D7FD;
}
.green:hover{
  color: #90e290;
}
